
%section#about.page
  .content
    / row
    .row
      / column 8/12
      .col-md-8
        %h2.section-title
          %span
            %i.icon-guest>
            GET TO KNOW ME
        / intro
        .intro.d-none.d-md-block.d-lg-none
          %h3
            Hello, my name is Arif Alim and I am in the double degree program studying CS at the University of Waterloo (UW) and Business at Wilfrid Laurier University (WLU)
          %P 
            As a kid, I was always interested in programming and computers. I soon realized the importance of both Software and Hardware advancements in AI. In my opinion the human brain is the most complex structure in the universe. We are currently at the early stages of AI, and with a few years we will be able to see and appreciate the benefits that AI will present. There is also the concern that there will be fewer jobs in the near future due to AI.
          %p
            Innovation and advancements in computational mathematics, quantum mechanics and quantum computing will have significant impact in our evoloution. Currently, we are ranked 0.7 in the kardashev scale (Type 1 Civilization). In the very near future we will be able to move up the scale to type 2 civilization; which will only come to fruition through advancement in Mathematics, Physics and Quantum Computing.
          %h3{style:"font-size:1.5em"} 
            Skills & Hobbies:
            %span.rotate-words
              %span Ruby
              %span Rails
              %span PGSql
              %span Python
              %span JavaScript
              %span HTML5
              %span CSS3
              %span XCode
              %span Sublime
              %span Vim
              %span Heroku
              %span Git
              %span Maths
              %span UI/UX 
              %span Apps
            
        / intro
      / column 8/12
      / column 4/12
      .col-md-4
        %h2.section-title
          %span
            %i.icon-twitter>
            LATEST TWEETS
        #latest-tweets.widget-twitter{"data-include-retweets" => "false", "data-tweet-count" => "1", "data-twitter-name" => "wuwlu"}
      / column 4/12
    