/ PAGE : BLOG
%section#blog.page
  .content
    .row
      / column 8/12
      .col-md-12
        / %h2.section-title
        /   %span
        /     %i.icon-guest>
        /     A LITTLE ABOUT ME
        / intro
        .intro
          %h2
            Coming soon...
/     %h2.section-title.center
/       %span
/         %i.icon-book-open>
/         LATEST FROM THE BLOG
/     / LATEST POSTS
/     .latest-posts.media-grid{"data-layout" => "fitRows"}
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-01.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 18
/             oct
/           %h3
/             %a{:href => "blog-single.html"} 20 Best Practices For Designing Better UIs
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-07.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 11
/             oct
/           %h3
/             %a{:href => "blog-single.html"} 40 Inspirational Magazine Designs That You Should See
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-03.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 27
/             sep
/           %h3
/             %a{:href => "blog-single.html"} Creating a New Typeface For Your Next Project
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-04.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 14
/             jun
/           %h3
/             %a{:href => "blog-single.html"} Sketching a Monster Made by Stone From Scratch
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-05.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 05
/             jun
/           %h3
/             %a{:href => "blog-single.html"} Designing a Physics Based iOS Game From Scratch
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-06.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 03
/             may
/           %h3
/             %a{:href => "blog-single.html"} Get Ready And Pack Your Bag For a Real Trip
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-02.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 03
/             may
/           %h3
/             %a{:href => "blog-single.html"} Get Ready And Pack Your Bag For a Real Trip
/       / post
/       / post
/       %article.hentry.media-cell
/         .media-box
/           %img{:alt => "post-image", :src => "images/blog/blog-08.png"}/
/           .mask
/           %a{:href => "blog-single.html"}
/         %header.media-cell-desc
/           %span.date{:title => "2013"}
/             %span.day> 03
/             may
/           %h3
/             %a{:href => "blog-single.html"} Get Ready And Pack Your Bag For a Real Trip
/       / post
/     / LATEST POSTS
/     %p.launch
/       %a.button.primary{:href => "blog.html"} SEE ALL POSTS
/ / PAGE : BLOG