
/ HEADER
%header.header
  %img{:alt => "avatar", :src => "images/logo/aalimx1280-nobg.png"}/
  %h1 Arif Alim
  %p Artificial Intelligence & Big Data
  / NAV MENU
  %ul.vs-nav
    %li
      %a{:href => "#/about"} about
    %li
      %a{:href => "#/portfolio"} portfolio
    %li
      %a{:href => "#/contact"} contact
    %li
      %a{:href => "#/blog"} blog
    %li
      %a{:href => "#/resume"} resume
  / NAV MENU
/ HEADER