%meta{:charset => "utf-8"}/
%meta{:content => "width=device-width, initial-scale=1, maximum-scale=1", :name => "viewport"}/
%meta{:content => "cvCard - Responsive HTML5 vCard Template", :name => "description"}/
%meta{:content => "vcard, html5, portfolio", :name => "keywords"}/
%meta{:content => "Pixelwars", :name => "author"}/
%title Arif Alim
/ FAV and TOUCH ICONS
%link{:href => "/favicon.ico", :rel => "shortcut icon"}/
%link{:href => "/images/ico/apple-touch-icon.png", :rel => "apple-touch-icon"}/
%script{:src => "/js/modernizr.custom.js"}
/ FONTS
%link{:href => "http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Oswald", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "http://fonts.googleapis.com/css?family=Tangerine:400,700", :rel => "stylesheet", :type => "text/css"}/
/ STYLES
%link{:href => "/css/print.css", :media => "print", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/normalize.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/bootstrap.min.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/js/nprogress/nprogress.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/animate.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/fonts/font-awesome/css/font-awesome.min.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/fonts/fontello/css/fontello.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/jquery.fancybox-1.3.4.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/js/google-code-prettify/prettify.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/uniform.default.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/flexslider.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/js/mediaelement/mediaelementplayer.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/tooltipster.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/style.css", :rel => "stylesheet", :type => "text/css"}/
%link{:href => "/css/main.css", :rel => "stylesheet", :type => "text/css"}/
/[if lte IE 9]
<script src="js/html5shiv.js"></script>
<script src="js/respond.min.js"></script>
<script src="js/selectivizr-min.js"></script>

= csrf_meta_tags
= csp_meta_tag
= stylesheet_link_tag 'application'
= javascript_include_tag 'application'

