/ PAGE : CONTACT
%section#contact.page
  .content
    .row
      / column 8/12
      .col-md-12
        / %h2.section-title
        /   %span
        /     %i.icon-guest>
        /     A LITTLE ABOUT ME
        / intro
        .intro
          %h2
            Coming soon...




/ / PAGE : PORTFOLIO
/ %section#portfolio.portfolio.page
/   .content
/     %h2.section-title.center
/       %span
/         %i.icon-leaf>
/         PAST WORK
/     / FILTERS
/     %ul#filters.filters
/       %li.current
/         %a{"data-filter" => "*", :href => "#"} ALL
/       %li
/         %a{"data-filter" => ".design", :href => "#"} WEBSITES
/       %li
/         %a{"data-filter" => ".coding", :href => "#"} MOBILE
/       %li
/         %a{"data-filter" => ".logo", :href => "#"} LOGOS
/     / FILTERS
/     / PORTFOLIO
/     .portfolio-items.media-grid{"data-layout" => "masonry"}
/       / portfolio-item
/       .media-cell.design.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/01.png"}/
/           .mask
/           %a.ajax{:href => "portfolio-item-01.html"}
/         .media-cell-desc
/           %h3 Personal Cv Project
/           %p.category an illustration work
/       / portfolio-item
/       / portfolio-item
/       .media-cell.coding.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/02.png"}/
/           .mask
/           %a.ajax{:href => "portfolio-item-02.html"}
/         .media-cell-desc
/           %h3 On The Desert
/           %p.category an illustration work
/       / portfolio-item
/       / portfolio-item - lightbox video
/       .media-cell.coding.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/03.png"}/
/           .mask
/           / lightbox - video
/           %a.lightbox.iframe{"data-lightbox-gallery" => "fancybox-item-03", :href => "http://player.vimeo.com/video/79380715?title=0&byline=0&portrait=0&color=009966", :title => "Paper by FiftyThree"}
/           / lightbox - video
/         .media-cell-desc
/           %h3 Sleepy Games
/           %p.category lightbox video
/       / portfolio-item - lightbox video
/       / portfolio-item - lightbox image
/       .media-cell.design.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/04.png"}/
/           .mask
/           / lightbox - image
/           %a.lightbox{"data-lightbox-gallery" => "fancybox-item-01", :href => "images/portfolio/lightbox-01.jpg", :title => "an illustration by Vasili Tkach"}
/           / lightbox - image
/         .media-cell-desc
/           %h3 World War X
/           %p.category ligthbox image
/       / portfolio-item - lightbox image
/       / portfolio-item - lightbox soundcloud
/       .media-cell.coding.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/06.png"}/
/           .mask
/           / lightbox - soundcloud
/           %a.lightbox.iframe{"data-lightbox-gallery" => "fancybox-item-04", :href => "https://w.soundcloud.com/player/?url=https%3A//api.soundcloud.com/tracks/129829419&color=009966&auto_play=false&show_artwork=true", :title => "Soundcloud embed"}
/           / lightbox - soundcloud
/         .media-cell-desc
/           %h3 Empty Battery
/           %p.category lightbox soundcloud
/       / portfolio-item - lightbox soundcloud
/       / portfolio-item - lightbox gallery
/       .media-cell.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/07.png"}/
/           .mask
/           / lightbox - gallery
/           %a.lightbox{"data-lightbox-gallery" => "fancybox-item-02", :href => "images/portfolio/lightbox-02.jpg", :title => "Octopus is dangerous!"}
/           %a.hidden.lightbox{"data-lightbox-gallery" => "fancybox-item-02", :href => "images/portfolio/lightbox-03.jpg"}
/           %a.hidden.lightbox{"data-lightbox-gallery" => "fancybox-item-02", :href => "images/portfolio/lightbox-04.jpg", :title => "Dog have dreams"}
/           / lightbox - gallery
/         .media-cell-desc
/           %h3 Wizard Adventure
/           %p.category lightbox gallery
/       / portfolio-item - lightbox gallery
/       / portfolio-item
/       .media-cell.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/16.png"}/
/           .mask
/           %a.ajax{:href => "portfolio-item-03.html"}
/         .media-cell-desc
/           %h3 Virus Protection
/           %p.category an illustration work
/       / portfolio-item
/       / portfolio-item
/       .media-cell.design.hentry
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/14.png"}/
/           .mask
/           %a.ajax{:href => "portfolio-item-01.html"}
/         .media-cell-desc
/           %h3 Red Diamond
/           %p.category an illustration work
/       / portfolio-item
/       / portfolio-item
/       .media-cell.hentry.x2
/         .media-box
/           %img{:alt => "portfolio-post", :src => "images/portfolio/11.jpg"}/
/           .mask
/           %a.ajax{:href => "portfolio-item-03.html"}
/         .media-cell-desc
/           %h3 Behind The Eyes
/           %p.category an illustration work
/       / portfolio-item
/     / PORTFOLIO
/   / CONTENT
/ / PAGE : PORTFOLIO