/ PAGE : RESUME
%section#resume.page
  .content
    / CONTENT
    / row
    .row
      / column 8/12
      .col-md-12
        / %h2.section-title
        /   %span
        /     %i.icon-guest>
        /     A LITTLE ABOUT ME
        / intro
        .intro
          %h2
            Coming soon...
/     .row
/       / col 6/12
/       .col-md-6
/         / timeline
/         .timeline
/           %h2
/             %i.fa.fa-flask>
/             WORK HISTORY
/           .event.current
/             %span.date 2012
/             %h4 Front End Web Developer
/             %h5 Pixelwars Inc.
/             %p I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/           .event
/             %span.date 2010
/             %h4 Web Developer
/             %h5 Google Inc.
/             %p I worked as a Web Developer at Google for 3 years. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/           .event
/             %span.date 2006
/             %h4 Exclusive Author
/             %h5 Envato Inc.
/             %p I am an Elite Author at Envato. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/         / timeline
/         / timeline
/         .timeline
/           %h2
/             %i.icon-college>
/             EDUCATION HISTORY
/           .event
/             %span.date 2002
/             %h4 Atom Science
/             %h5 Stanford University
/             %p I studied atomic stuff at Stanford University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/           .event
/             %span.date 2010
/             %h4 Software Engineering
/             %h5 Harvard University
/             %p I got my Master Degree at Harvard University. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/           .event
/             %span.date 2006
/             %h4 Computer Science
/             %h5 MIT
/             %p I studied Computer Science at MIT. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/         / timeline
/       / col 6/12
/       / col 6/12
/       .col-md-6
/         %h2.section-title
/           %span
/             %i.icon-cog-1>
/             DEVELOPMENT SKILLS
/         / DEV SKILLS
/         .skillset
/           / .skill-unit
/           .skill-unit
/             %h4 HTML5
/             .bar{"data-percent" => "100"}
/               .progress
/           / .skill-unit
/           / .skill-unit
/           .skill-unit
/             %h4 CSS3
/             .bar{"data-percent" => "50"}
/               .progress
/           / .skill-unit
/           / .skill-unit
/           .skill-unit
/             %h4 jQuery
/             .bar{"data-percent" => "70"}
/               .progress
/           / .skill-unit
/           / .skill-unit
/           .skill-unit
/             %h4 Wordpress
/             .bar{"data-percent" => "100"}
/               .progress
/           / .skill-unit
/         / DEV SKILLS
/         %h2.section-title
/           %span
/             %i.icon-brush>
/             DESIGN SKILLS
/         / DESIGN SKILLS
/         .skillset
/           / .skill-unit
/           .skill-unit
/             %h4 Fireworks
/             .bar{"data-percent" => "90"}
/               .progress
/           / .skill-unit
/           / .skill-unit
/           .skill-unit
/             %h4 Photoshop
/             .bar{"data-percent" => "60"}
/               .progress
/           / .skill-unit
/           / .skill-unit
/           .skill-unit
/             %h4 Illustrator
/             .bar{"data-percent" => "40"}
/               .progress
/           / .skill-unit
/         / DESIGN SKILLS
/         %h2.section-title
/           %span
/             %i.icon-comment>
/             TESTIMONIALS
/         / testo-group
/         .testo-group
/           / Testimonial
/           .testo
/             %img{:alt => "someone", :src => "images/site/testo-01.jpg"}/
/             %h4
/               Phillip Austin
/               %span CEO / Gravity Inc.
/             %p He is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much. Also he is a great and hardworking guy. I am so proud of i have him as my asistant. He helped me so much.
/           / Testimonial
/           / Testimonial
/           .testo
/             %img{:alt => "someone", :src => "images/site/testo-02.jpg"}/
/             %h4
/               Gary Morgan
/               %span Chemist / Freelancer
/             %p He was a great co-worker and a friend. I would't be where i am without his support.
/           / Testimonial
/           / Testimonial
/           .testo
/             %img{:alt => "someone", :src => "images/site/testo-03.jpg"}/
/             %h4
/               Jason Wilson
/               %span Lab Geek / Miami Metro
/             %p He is ok.
/           / Testimonial
/         / testo-group
/         %h2.section-title
/           %span
/             %i.icon-doc-alt>
/             DOWNLOAD MY CV
/         %p You can download my CV in pdf format if you like. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/         / DOWNLOAD BUTTON
/         .download-button
/           %a.button.primary{:href => "#"} DOWNLOAD CV
/         / DOWNLOAD BUTTON
/         %h2.section-title
/           %span
/             %i.icon-linkedin>
/             VIEW MY LINKEDIN PROFILE
/         %p You can view my LinkedIn profile. I currently work for Pixelwars creative studio. I create usable web interfaces, front end coding stuff and almost anything. But i love what i do.
/         / DOWNLOAD BUTTON
/         .download-button
/           %a.button.primary{:href => "#"} MY LINKEDIN PROFILE
/         / DOWNLOAD BUTTON
/       / col 6/12
/     / row
/   / CONTENT
/ / PAGE : RESUME


