/ SCRIPTS
%script{:src => "/js/jquery-1.10.2.min.js"}
%script{:src => "/js/jquery-migrate-1.2.1.min.js"}
%script{:src => "/js/jquery.address-1.5.min.js"}
%script{:src => "/js/triple.layout.js"}
%script{:src => "/js/smoothscroll.js"}
%script{:src => "/js/nprogress/nprogress.js"}
%script{:src => "/js/fastclick.js"}
%script{:src => "/js/jquery.imagesloaded.min.js"}
%script{:src => "/js/jquery.isotope.min.js"}
%script{:src => "/js/jquery.flexslider-min.js"}
%script{:src => "/js/jquery.fitvids.js"}
%script{:src => "/js/jquery.validate.min.js"}
%script{:src => "/js/jquery.uniform.min.js"}
%script{:src => "/js/jquery.fancybox-1.3.4.pack.js"}
%script{:src => "/js/jquery.tooltipster.min.js"}
%script{:src => "/js/google-code-prettify/prettify.js"}
%script{:src => "/js/twitterFetcher_v10_min.js"}
%script{:src => "/js/mediaelement/mediaelement-and-player.min.js"}
%script{:src => "/js/send-mail.js"}
%script{:src => "/js/classie.js"}
%script{:src => "/https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false"}
%script{:src => "/js/main.js"}
