!!!
%html.no-js.one-page-layout{"data-classic-layout" => "false", "data-inanimation" => "fadeInUp", "data-mobile-only-classic-layout" => "true", "data-outanimation" => "fadeOutDownBig", :lang => "en"}
  %head
    = render 'shared/head'
  %body
    #container.container
      = render 'shared/header'
      .wrapper
        = yield
    = render 'shared/scripts'
    / PORTFOLIO SINGLE AJAX CONTENT CONTAINER
    .p-overlay
    .p-overlay
    
